<h1><%= @batch.batch_name %></h1>

<ul>
  <% @batch.students.each do |student| %>
    <li><%= "Name: #{student.full_name} Completion Percentage: #{number_to_percentage( student.most_recent_completion.percent_complete * 100)}"%></li>
  <% end %>
</ul>
